
body{
     background: url(../images/bg_body.png) no-repeat center center fixed;
    background-size: cover; 
    width: 100%;
    height: 100%;
    font: 400 14px 'open_sansregular';
    word-wrap: break-word;
}

input,textarea {
    outline:none;
}

ul, h2{
    padding: 0;
    margin: 0;
}

html,body,
.wrapper{
    height: 100%;
    width: 100%;
}

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

.wrapper{
    display: table;
}

.inner_wrapper{
    display: table-row;
    width: 100%;
}
/*---------------------------------------- head-------------------------------------*/
.header{
    background: url(../images/head_bg.png);
    width: 100%;
    border-bottom: 7px solid #fff;
    box-shadow: 0px 1px 0px 0.00px rgba(0, 0, 0, 0.1);
    margin-bottom: 34px;
}

.container_header{
    max-width: 1192px;
    width: 100%;
    padding: 11px 0 9px;
    margin: 0 auto;
}

.container{
    max-width: 960px;
    margin: 0 auto 36px auto;
    overflow: hidden;
}

.logo_block{
   float: left; 
    width: 95px;
    height: 71px;
}

.logo{
    width: 100%;
    height: auto;
}

.logo_text{
    position: absolute;
    top: 0;
    left: -9999px;
}

.header_right{
    float: right;
    padding: 16px 0;
    position: relative;
}

.mobile_menu{
    display: none;
    width: 30px;
    height: 36px;
    margin-left: 31px;
    background: url(../images/mob_menu.png) no-repeat center;
    background-size: contain;
    float: right;
    vertical-align: top; 
    cursor: pointer;
    position: relative;
}


.social{
    display: inline-block;
    vertical-align: top;
}

.social_item{
    list-style: none;
    display: inline-block;
    background-image: linear-gradient( 90deg, rgb(231,229,228) 0%, rgb(250,249,249) 94%, rgb(255,255,255) 100%);
    border-radius: 50%;
    box-shadow:0px 2px 1px 0.00px rgba(9, 9, 9, 0.31);
    margin-left: 12px;
    letter-spacing: normal;
}

.social_item_link{
    display: block;
    border-radius: 50%;
    width: 36px;
    height: 36px;
}

.navigation_mob{
    display: none;
    width:200px;
    position: absolute;
    right: 0;
    bottom: -200px;
    z-index: 3;
}

.navigation_mob:before{
    content:'';
    border-bottom: 11px solid #F2EFEF;
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
    position: absolute;
    right: 3px;
    top:-10px;
}

.navigation_mob .menu_item_link{
    font-size: 18px;
    padding:13px 6%;
    text-align: center;
}

.navigation_mob.open {
    display: block;
}


.facebook,.vkontakte,
.twitter,.github, 
.contact_icon_1,.contact_icon_2,.contact_icon_3{
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden; 
}

.facebook{
    background: url(../images/social_sprt.png) no-repeat -1px -62px;
}

.vkontakte{
    background: url(../images/social_sprt.png) no-repeat -51px -62px;
}

.twitter{
    background: url(../images/social_sprt.png) no-repeat -103px -62px;
}

.github{
    background: url(../images/social_sprt.png) no-repeat -155px -62px;
}

.facebook:hover{
    background: url(../images/social_sprt.png) no-repeat -1px 0;
}

.vkontakte:hover{
    background: url(../images/social_sprt.png) no-repeat -51px 0;
}

.twitter:hover{
    background: url(../images/social_sprt.png) no-repeat -103px 0;
}

.github:hover{
    background: url(../images/social_sprt.png) no-repeat -155px 0;
}


/*---------------------------------------------------------sb---------------------------------------------*/

.sidebar{
    width:25.8%;
    float:left;
    padding:1px 0.2%;
    overflow: hidden;
}

.navigation{
    
}

.list{
    box-sizing: border-box;
    margin-bottom: 34px; 
    border-radius: 4px;
    padding: 0;
    border:1px solid rgba(201, 201, 201, 0.8);
    overflow: hidden;
    box-shadow: 0 1px 2px -1px rgba(102, 102, 102, 0.4);
}

.menu_item{
    list-style: none;
    border-top:1px solid rgba(201, 201, 201, .8);
}

.menu_item:first-child{
    border: none;
}

.list_item{
    display: block;
    text-decoration: none;
    color: #727070;
    word-wrap: break-word;
}

.menu_item_link{
    font: 600 20px / 22px 'open_sanssemibold';
    padding: 16px 10.5%;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.75); 
    box-shadow: 0px 2px 1px 0.00px rgba(9, 9, 9, 0.07);
    background-image: linear-gradient( 0deg, rgb(233,230,229) 0%, rgb(251,249,249) 94%, rgb(255,255,255) 100%);
}

.active_nav{
    color:#1e7465; 
    background: #5dceb2;
    box-shadow: 0px 2px 1px 0.00px rgba(9, 9, 9, 0.16);
    background-image: linear-gradient( 0deg, rgb(62,183,153) 0%, rgb(126,232,206) 100%);

}


.menu_item_link:hover{
    background: #d3d1d1;
    background: linear-gradient(0deg, #c2c0c0 0%, #e3e1e1 86%, #e8e7e7 90%, #e8e7e7 100%);
}


.contact{
    padding: 10px 10.1%;
    color: #d0992c;
    font: 600 20px / 22px 'open_sanssemibold';
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.4);
    box-shadow: 0px 2px 1px 0.00px rgba(9, 9, 9, 0.17);
    background: linear-gradient(0deg, #dcb15d 0%, #f4cc7e 89%);
    border-radius: 3px;
    border-top:1px solid rgba(201, 201, 201, 0.8);
    border-left:1px solid rgba(201, 201, 201, 0.8);
    border-right:1px solid rgba(201, 201, 201, 0.8);
    box-sizing: border-box;
}

.cont_t{
    display: block;
    word-wrap: break-word;
    margin:9px 0 0 40%;
}

.contact_icon_1{
    background: url(../images/sprt_contact.png) no-repeat 0px -5px;
    
}

.contact_icons{
    display: block;
    width: 20px;
    height: 20px;
    overflow: hidden;
    margin: -10px 0 0 0;
    position: absolute;
    top: 50%;
    left: 8%;
}

.contact_icon_2{
    background: url(../images/sprt_contact.png) no-repeat 0px -47px;
}

.contact_icon_3{
    display: block;
    overflow: hidden;
    background: url(../images/sprt_contact.png) no-repeat 0px -84px;
    
}


.menu_item>.contact_item_link{
    position: relative;
    display: block;
    font: 400 14px 'open_sansregular';
    padding: 4px 5% 7px;
    background-image: linear-gradient( 0deg, rgb(233,230,229) 0%, rgb(251,249,249) 94%, rgb(255,255,255) 100%);
    box-shadow: 0px 1px 0px 0.00px rgba(255, 255, 255, 0.35);
    text-decoration: none;
    overflow: hidden;
}

.contact_item_link:before{
    content: '';
    position: absolute;
    left: 22%;
    width: 15%;
    height: 100%;
    top: 0;
    background: url(../images/st.png) no-repeat;
    background-size: contain;
}

.contact_item_link:hover{
    box-shadow: inset 0px -8px 50px -13px #e0c591;
}

.mail{
    background: url(../images/sprt_contact.png) no-repeat left center;
}

/*---------------------------content---------------------------*/


.content{
    float: right;
    width: 67.7%;
    padding:1px 0.2%;
}

.content_section{
    margin:0 0 38px 0;
    background: #f0efee;
    border-radius: 4px;
    box-shadow:inset 3px 4px 10px 0.00px rgba(236, 232, 227, 0.75);
    border:1px solid rgba(201, 201, 201, 0.8);
    box-sizing: border-box;
}

.title_content{
    padding: 15px 43px 17px;
    font: 600 24px/22px 'open_sanssemibold';
    text-shadow: 0px 1px 0px #666565;
    color: #eeedec;
    background: linear-gradient(0deg, #7b7878 0%, #a9a8a8 100%);
}

.container_info{
    margin: 33px 6% 26px;
}


.wrapp_avatar{
    float: left;
    overflow: hidden;
    border: 1px solid #d2d1d0;
    background-color: #f7f6f5;
    border-radius: 50%;
    box-shadow: 0px 0px 0 1px #c5c5c5, 0px 0px 0 1px #c5c5c5;
    position: relative;
    border:9px solid #f3f2f1;
    box-sizing: border-box;
    margin: 7px 0.3%;
    width: 26.4%;
}

.wrapp_avatar:after{
    content: '';
    display: block;
    width: 100%;
    padding-top: 100%;
}

.ava_img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    display: block;
}

.block_basic_information{
    float: right;
    width: 66.5%;
}

.titile_info{
    list-style: none;
    color: #727070;
    padding: 2px 5px 5px 0;
    font: 600 14px 'open_sanssemibold';
    overflow: hidden;
}

.main_basic_information{
    font: 400 14px 'open_sansregular';
}


.skills_list{
    list-style: none;
    float: left;
    padding: 0;
    width: 62%;
    margin-top: 4px;
}

.skils{
    float: left;
    padding: 1px 6px 1px 5px;
    border:1px solid rgba(201, 201, 201, 0.8);
    margin: 5px 8px;
    position: relative;
    text-transform: uppercase;
    color: #1e7465;
    font: 600 9px / 15px 'open_sanssemibold';
    border-radius: 3px;
}

.last_titile_info_block{
    float: left;
    margin : 10px 0 0 0;
}

.skils:before{
    content: '';
    width: 9px;
    height: 21px;
    position: absolute;
    left:-8px;
    top:-2px;
    background: url(../images/bts.png) no-repeat center;
}



.block_experience{
        padding: 17px 0 31px;
}

.experience{
    list-style: none;
    color:#727070;
}

.position{
    font: 600 15px 'open_sanssemibold';
}

.period{ 
    font: 400 14px 'open_sansregular';
}

.list_an_experience{
    padding: 0px 0 0 17%;
    position: relative;
    min-height: 30px;
    overflow: hidden;
}

.list_an_experience:before{
    content:'';
    height: 1px;
    width:97%;
    background: #dbdbda;
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: 0 0 9px 1px #fff;
}

.list_an_experience:first-child:before{
    display: none;
}


.wrapp_avatar, .icons, .content_section,
.list, .block_project, input, .message,
.captcha_block_img, .skils,
.add_project:before{
   behavior: url(../oldbrowsers/PIE.htc); 
}

.icons_1{
    background-image: url(../images/info_sprt.png);
    background-position: 18px -56px
}

.icons{
   border-radius: 50%;
    height: 54px;
    width: 54px;
    box-shadow:inset 1px 1px 0 0 #cecece, 0px 1px 0px 0.00px #ffffff;
    background-color: #f7f7f7;
    background-repeat: no-repeat;
    overflow: hidden;
    position: absolute;
    left: 0;
    bottom: 50%;
    margin-bottom: -27px;
}

.icons_2{
    background-image: url(../images/info_sprt.png);
    background-position: -72px -55px;
}


.icons_3{
    background-image: url(../images/info_sprt.png);
    background-position: -72px -131px;
}

.icons_4{
    background-image: url(../images/info_sprt.png);
    background-position: 18px;
}


.hide_list{
    display: none;
}


/*-------------------------------footer-----------------------------------*/

.social_mob{
    display: none;
}

.footer{
    display: table-row;
    height: 61px;
    background-color: #ffffff;
    box-shadow: 0px -1px 0px 0.00px rgba(0, 0, 0, 0.1);
    position: relative;
}

.footer:before{
    content: '';
    height:1px;
    width: 100%;
    background: #637a77;
    position: absolute;
    top: 0;
    left: 0;
}

.container_footer{
    margin: 20px auto;
    width: 51%;
    color: #9c9c9c;
    overflow: hidden;
}

.entrance{
    display: block;
    padding:1px 0 1px 26px;
    text-transform: uppercase;
    text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.85);
    float: left;
    font: 700 14px 'open_sansbold';
    text-decoration: none;
    color: #9c9c9c;
    position: relative;
}

.entrance:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 23px;
    height: 23px;
    overflow: hidden;
    background: url(../images/info_sprt.png) no-repeat -47px -34px;
}

.entrance:hover:before{
    background: url(../images/info_sprt.png) no-repeat -47px -82px;
}

.copy{
    float: left;
    margin: 0 0 0 9%;
    font: 300 12px 'open_sanslight';
}



/*-----------------------page_2-------------------------*/


.container_project{
    margin-left: -5.6%;
    overflow: hidden;
    letter-spacing: -0.3em;
    margin-bottom: 184px;
}

.block_project{
    width: 27.3%;
    background: #fff;
/*    box-shadow: 0 0px 1px 1px #c5c5c5, 0px 2px 1px 0.00px rgba(9, 9, 9, 0.07);*/
    box-shadow: 0 1px 2px -1px rgba(102, 102, 102, 0.4);
    border:1px solid rgba(201, 201, 201, 0.8);
    box-sizing: border-box;
    border-radius: 5px;
    background-image: linear-gradient( 0deg, rgb(237,235,234) 0%, rgb(251,249,249) 94%, rgb(255,255,255) 100%);
    margin:1px 0 43px 5.999%;
    display: inline-block;
    vertical-align: top;
    min-height: 71.6%;
    overflow: hidden;
    letter-spacing: normal;
}



.wrapp_img_name{
    display: block;
    background-color: rgba(65, 64, 64, 0.07);
    text-decoration: none;
    min-height: 133px;
}

.container_project_img{
    width: 100%;
    padding-top: 71.6%;
    overflow: hidden;
    position: relative;
    border-bottom: 1px solid #bfbfbf;
    display: block;
}

.container_project_img:before{
     width: 100%;
    height: 100%;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    transform: scaleY(0);
    transform-origin: center top;
    transition: all 0.2s linear 0s;
    z-index: 1;
}

.container_project_img:hover:before, .container_project_img:hover:after{
    transform: scaleY(1);
}

.container_project_img:after{
    content:'Подробнee';
    position: absolute;
    top: 50%;
    left: 50%;
    color:#fff;
    z-index: 2;
    text-align: center;
    padding: 3px 5px;
    margin: -11px 0 0 -40px;
    box-shadow: 0 0 0px 3px #fff;
    font: 600 13px/22px 'open_sansrsemibold';
    border-radius: 10px;
    transform: scaleY(0);
    transform-origin: center bottom;
    transition: all 0.3s linear 0s;
}

.project_img{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    box-shadow: 1px 1px 1px 1px #fff;
}

.name_site{
    color: #727070;
    font: 600 13px / 22px 'open_sanssemibold';
    padding: 4px;
    text-align: center;
    display: block;
}

.site_description{
    padding: 8px 8px 8px 16px;
    font: 300 12px / 16px 'open_sanslight';
    color: #727070;
}

.margin_project{
    margin-left: 0;
}


.add_project{
    padding-top: 66%;
    position: relative;
    cursor: pointer;
}



.add_project:before{
    content: ''; 
    border-radius: 50%;
    height: 54px;
    width: 54px;
    box-shadow: inset 1px 1px 0 0 #cecece,0 1px 0 0 #fff;
    background: #f7f7f7 url(../images/info_sprt.png) no-repeat 17px -132px;
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -27px 0 0 -27px;
}


.add_project:hover{
    box-shadow: inset 0 3px 20px 1px #fff;
}

/*------------------------------------------page_3-------------------------------*/


.form_of_communication{
    width: 71.5%;
    margin: 0 auto;
    margin: 0 auto 240px;
    
}



input{
    padding: 10px 4%;
    display: block;
    border-radius: 3px;
    box-shadow: 0 1px 2px -1px rgba(102, 102, 102, 0.4);
    border:1px solid rgba(201, 201, 201, 0.8);
}


.input_container{
    position: relative;
}

.form_float_block{
    width: 47%;
    margin-left: 4.2%;
    margin-bottom: 2px;
    float: left;
    position: relative;
}

.form_float_block:first-child{
    margin-left: 0;
}

.type_text, .message{
    margin: 0 0 15px;
    font: 300 12px 'open_sanslight';
    background: linear-gradient(0deg, #e9e7e7 0%, rgba(251, 249, 249, 0) 100%);
}

.type_text{
    width: 91%;
}

.label{
    font: 400 14px 'open_sansregular';
    color: #727070;
    display: block;
    margin-bottom: 7px;
}

.message{
    width: 88%;
    height: 161px;
    padding: 10px 4%;
    margin-bottom: 12px;
    resize: none;
}

.message, .captcha_block_img{
    border-radius: 3px;
    box-shadow: inset 2px 4px 10px 0 rgba(236,232,227,.75),0 1px 2px -1px rgba(102, 102, 102, 0.4);
    border:1px solid rgba(201, 201, 201, 0.8);
    box-sizing: border-box;
}

.captcha_block_img{
    width: 97%;
    margin: 0 0 32px;
    overflow: hidden;
    height: 76px;
    padding: 5px;
}

.m_n{
    margin: 0;
    text-align: center;
}

.captcha_img{
    display: block;
    margin: 0 auto;
    width: 100%;
    
}

.submit{
    margin: 0 0 1px;
    background-image: linear-gradient( 0deg, rgb(67,183,150) 0%, rgb(128,232,203) 100%);
    box-shadow: 0 1px 2px -1px rgba(102, 102, 102, 0.4);
    border:1px solid rgba(201, 201, 201, 0.8);
}

.submit:hover{
   background: linear-gradient(0deg, #3aa087 0%, #5fdcbd 100%);
}

.button_form{
    font: 600 14px / 19px 'open_sanssemibold';
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.75);
    border-radius: 5px;
    box-shadow: 0 1px 2px -1px rgba(102, 102, 102, 0.4);
    border:1px solid rgba(201, 201, 201, 0.8);
    color: #1e7465;
    width: 65%;
    margin-left:auto;
    margin-right: auto;
}

.captcha{
    margin: 30px 0 51px 0;
    padding: 5px;
}

.form_float_block>.clean{
    margin: 0 auto 10px;
    color: #727070;
}

.clean:hover{
  background-image:linear-gradient( 0deg, rgb(194,192,192) 0%, rgb(227,225,225) 87%, rgb(230,228,228) 90%, rgb(232,231,231) 100%);
}

/*------------------------------------------ie------------------------------*/

.no-cssgradients .menu_item_link{
    background: #f2f0f0;
}

.no-cssgradients .menu_item_link:hover{
    background: #d5d3d3;
}

.no-cssgradients .contact_item_link{
    background: #fcfbfb;
}

.no-cssgradients .contact_item_link:hover{
    background: #f4ead8;
}

.no-cssgradients .active_nav{
    background: #48bfa1;
}


.no-cssgradients .contact{
    background: #edc575;
}

.no-cssgradients .title_content{
    background: #8b8888;
}

.no-opacity .container_project_img:hover:before{
    background: url(../images/hover_ie.png);
}

.no-opacity .container_project_img:after{
   display: none;
}

.no-opacity .container_project_img:hover:after{
    display: block;
}

.no-cssgradients .wrapp_img_name{
    background: #f2f2f2;
}

.no-cssgradients .block_project:{
    background: #f6f6f6;
}

.no-cssgradients .captcha_block_img, .message, input{
    background: #f6f6f6;
}

.no-cssgradients .submit{
    background: #48bfa1;
}

.no-cssgradients .submit:hover{
    background: #6fac93;
}

.no-cssgradients .clean{
    background: #d8d7d7;  
}

.no-cssgradients .clean:hover{
    background: #c5c5c5;
}

.no-cssgradients .social_item{
    background: #fff;
}


.no-cssgradients .skils{
    background: #f2f0ef;
}

.no-cssgradients .captcha_block_img{
    background: #fff;    
}

.no-backgroundsize body{
    background: #d8d8a2;
}

.no-rgba .list, .skils, .content_section,
.block_project, input, .captcha_block_img, .message{
    border:1px solid #b6b6b6;
}

.no-rgba .menu_item{
    border-top:1px solid #b6b6b6;
}


.no-rgba .contact{
    border-top: 1px solid #b6b6b6;
    border-left: 1px solid #b6b6b6;
    border-right: 1px solid #b6b6b6;
}

/*----------------------------------media---------------------------------------*/

@media screen and (max-width:960px){
    
    .hide_list{
        display: block;
    }
    
    .container_header, .container_footer{
        width: 89.7%;
    }
    
    .container{
        max-width: 960px;
        width: 85.5%;
        margin: 0 auto;
    }
    
    
    
    .mobile_menu{
        display: inline-block;
    }
    
    .content, .sidebar{
        float: none;
        margin: 0 auto;
        width: 100%;
    }
    
    .sidebar{
        display: none;
    }
    
    
    .navigation_mob .menu_item{
        float: none;
        width: 100%;
    }
    
    .menu_item{
        float:left;
        width: 33.3%;
        box-sizing: border-box;
        border-left:1px solid rgba(201, 201, 201, .8);
    }
   
    .contact_item_link{
        min-height: 47px;

    }
    
    .menu_item:first-child{
        border-top:1px solid rgba(201, 201, 201, .8); 
        border-left: none;
    }
    
    .block_project {
        width: 29.8%;
        margin-left: 13.7%
    }
    
   
}
 

@media screen and (max-width:768px){
    
    .container_header, .container{
        max-width: 768px;
        width: 83%;
        margin: 0 auto;
    }
    
    .social{
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 4;
    }
    
    .copy{
        padding: 10px 0;
        font-size: 8px;
        float: right;
    }
    
    
    
    .menu_item, .block_basic_information,
    .list_an_experience
    {
        width: 100%;
    }
    
    .contact_item_link{
        min-height: 0;
    }
    
    .title_content, .block_experience,
    .site_description{
        text-align: center;
    }
    
    .wrapp_avatar, .block_basic_information, .menu_item{
        float: none;
    }
    
    .container_info{
        margin: 18px 4.5%;
        
    }
    
    .block_basic_information{
        margin: 0 auto;
    }
    
    .wrapp_avatar{
        width: 44%;
        margin: 2px auto 15px;
    }
    
    .skills_list{
        width: 60%;
    }
    
    .icons{
        top: 20px;
        left: 50%;
        margin-left: -27px;
    }
    
    .block_experience{
        margin-top: 110px;
        padding-top: 0;
    }
    
    .list_an_experience{
        padding: 0;
    }
    
    .container_project{
        margin: 0;
    }
    
    .block_project {
        display: block;
        width: 80%;
        margin: 0 auto 23px auto;
    }
    
    .site_description{
            padding: 13px 8px 13px 16px;
    }
    
    .social{
        display: none;
    }
    
    .mob_contact{
        margin-bottom: 16px;
    }
    
    .social_mob{
        text-align: center;
        margin:0 auto 14px 0;
        display: block;
    }
    
    .container_project{
        margin-bottom: 150px;
    }
    
    .float_mob_none{
        margin-left: 0;
        float: none;
        width: 100%;
        
    }
    
    .message{
        width: 100%;
    }
    
    .button_form{
        width: 100%;
    }
    
    .form_of_communication{
        width: 80%;
    }

}

.pop_up{
    width:100%;
    max-width: 322px;
    margin: 0 auto;
    border: 1px solid #b6b6b6;;
    background: #f5f4f3;
    border-radius: 4px;
    box-shadow: 5px 10px 27px 0.00px rgba(159, 159, 159, 0.75);
    padding: 24px 20px;
    position: relative;
    display: none;
}


.b-close{
    width: 14px;
    height: 13px;
    background: url(../images/x.png) no-repeat;
    position: absolute;
    right: 7px;
    top: 6px;
    cursor: pointer;
}


.mess_proj{
    width: 100%;
    height: 110px;
    position: relative;
}

.input_container ~ .upload {
    cursor: pointer;
}

.fileform{
    border: 1px solid #b6b6b6;
    cursor: pointer;
    position: relative;
    border-radius: 4px;
    margin: 0 0 15px;
    background: linear-gradient(0deg, #e9e7e7 0%, rgba(251, 249, 249, 0) 100%);
    box-shadow: 0 1px 2px -1px rgba(102, 102, 102, 0.4);
    font: 300 12px 'open_sanslight';
    color: #c7c6c6;
}

.fileform .selectbutton {
    border-left: 1px solid #b6b6b6;
    float: right;
    height: 30px;
    line-height: 20px;
    overflow: hidden;
    padding: 2px 6px;
    text-align: center;
    vertical-align: middle;
    width: 50px;
    background: url(../images/ic.png) no-repeat center;

}

.upload{
   position:absolute;
    top:0;
    left:0;
    -moz-opacity: 0;
    filter: alpha(opacity=0);
    opacity: 0;
    height: 30px;
    z-index:20;
    padding: 0;
    font-size: 17px;
}

.fileform #fileformlabel {
background-color: #FFFFFF;
float: left;
height: 22px;
line-height: 22px;
overflow: hidden;
padding: 2px 4%;
text-align: left;
vertical-align: middle;
width:72%;
background: linear-gradient(0deg, #e9e7e7 0%, rgba(251, 249, 249, 0) 100%);
}


.pop_up .submit{
    width:40%;
}

.project_form_block{
    position: relative;
}

input.error, .message.error{
    border: 2px solid #dfac98;
}


label.error{
    position: absolute;
    text-align: right;
    white-space: nowrap;
    font: 600 12px 'open_sanssemibold';
    color: #9a4e32;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.45);
    background-image: linear-gradient( 0deg, rgb(211,118,84) 0%, rgb(243,162,135) 90%);
    box-shadow: 0px 2px 1px 0.00px rgba(9, 9, 9, 0.17);
    padding: 6px 8px;
    border-radius: 4px;
    border: 1px solid #f19a7c;
    margin:-15px 10px 0 0;
    top: 50%;
    right: 100%;
}


label.error:after{
    content: '';
    border-left: 7px solid #e49072;
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    position: absolute;
    margin-top: -7px;
    top: 50%;
    right: -7px;
}

.error_right label.error{
    right: auto;
    left: 100%;
    margin-left: 11px;
}

.error_right label.error:before{
    content: '';
    border-right: 7px solid #e49072;
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    left: -7px;
    position: absolute;
    top: 50%;
    left: -7px;
    margin-top: -7px;
}

.error_right label.error:after{
    border:none;
}



















