
body{
     background: url(../images/bg_body.png) no-repeat center center fixed;
    background-size: cover; 
    width: 100%;
    height: 100%;
    font: 400 14px open sans;
    word-wrap: break-word;
}

ul, h2{
    padding: 0;
    margin: 0;
}

html,body,
.wrapper{
    height: 100%;
    width: 100%;
}

.wrapper{
    display: table;
}

.inner_wrapper{
    display: table-row;
    width: 100%;
}
/*---------------------------------------- head-------------------------------------*/
.header{
    background: url(../images/head_bg.png);
    width: 100%;
    border-bottom: 7px solid #fff;
    box-shadow: 0px 1px 0px 0.00px rgba(0, 0, 0, 0.1);
    margin-bottom: 34px;
}

.container_header{
    max-width: 1192px;
    min-width: 960px;
    width: 100%;
    padding: 11px 0 9px;
    margin: 0 auto;
    overflow: hidden;
}

.container{
    width:100%;
    max-width: 960px;
    min-width: 960px;
    margin: 0 auto;
    overflow: hidden;
    margin-bottom: 36px;
}

.logo_block{
   float: left; 
    width: 95px;
    height: 71px;
}

.logo{
    width: 100%;
    height: auto;
}

.logo_text{
    position: absolute;
    top: 0;
    left: -9999px;
}

.social{
    float: right;
    padding: 16px 0;
}

.social_item{
    list-style: none;
    display: inline-block;
    background-image: linear-gradient( 90deg, rgb(231,229,228) 0%, rgb(250,249,249) 94%, rgb(255,255,255) 100%);
    border-radius: 50%;
    box-shadow:0px 2px 1px 0.00px rgba(9, 9, 9, 0.31);
    margin-left: 12px;
    letter-spacing: normal;
}

.social_item_link{
    display: block;
    border-radius: 50%;
    width: 36px;
    height: 36px;
}

.facebook,.vkontakte,
.twitter,.github, 
.contact_icon_1,.contact_icon_2,.contact_icon_3{
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden; 
}

.facebook{
    background: url(../images/social_sprt.png) no-repeat -1px -62px;
}

.vkontakte{
    background: url(../images/social_sprt.png) no-repeat -51px -62px;
}

.twitter{
    background: url(../images/social_sprt.png) no-repeat -103px -62px;
}

.github{
    background: url(../images/social_sprt.png) no-repeat -155px -62px;
}

.facebook:hover{
    background: url(../images/social_sprt.png) no-repeat -1px 0;
}

.vkontakte:hover{
    background: url(../images/social_sprt.png) no-repeat -51px 0;
}

.twitter:hover{
    background: url(../images/social_sprt.png) no-repeat -103px 0;
}

.github:hover{
    background: url(../images/social_sprt.png) no-repeat -155px 0;
}


/*---------------------------------------------------------sb---------------------------------------------*/

.sidebar{
    width:25.8%;
    float:left;
    padding:1px 0.2%;
}

.navigation{
    
}

.list{
    margin-bottom: 34px; 
    border-radius: 4px;
    box-shadow: 2px 4px 10px 0.00px rgba(236, 232, 227, 0.75);
    padding: 0;
    box-shadow: 0 0px 1px 1px #c5c5c5;
    overflow: hidden;
}

.menu_item{
    list-style: none;
}

.list_item{
    display: block;
    text-decoration: none;
    color: #727070;
    word-wrap: break-word;
}

.menu_item_link{
    font: 600 20px / 22px open sans;
    padding: 16px 10.5%;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.75);
    border-top:1px solid #b6b6b6; 
    box-shadow: 0px 2px 1px 0.00px rgba(9, 9, 9, 0.07);
    background-image: linear-gradient( 0deg, rgb(233,230,229) 0%, rgb(251,249,249) 94%, rgb(255,255,255) 100%);
}

.active_nav{
    color:#1e7465; 
    background: #5dceb2;
    box-shadow: 0px 2px 1px 0.00px rgba(9, 9, 9, 0.16);
    background-image: linear-gradient( 0deg, rgb(62,183,153) 0%, rgb(126,232,206) 100%);

}


.menu_item_link:hover{
    background: #d3d1d1;
    background: linear-gradient(0deg, #c2c0c0 0%, #e3e1e1 86%, #e8e7e7 90%, #e8e7e7 100%);
}


.contact{
    padding: 10px 10.5%;
    color: #d0992c;
    font: 600 20px / 22px open sans;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.4);
    box-shadow: 0px 2px 1px 0.00px rgba(9, 9, 9, 0.17),
                0 0 1px 1px #c5c5c5;
    background: linear-gradient(0deg, #dcb15d 0%, #f4cc7e 89%);
    border-radius: 3px 3px 0 0;
    border-bottom: 1px solid #b6b6b6;
}

.cont_t{
    display: block;
    word-wrap: break-word;
    margin:9px 0 0 40%;
}

.contact_icon_1{
    background: url(../images/sprt_contact.png) no-repeat 0px -5px;
    
}

.contact_icons{
    display: block;
    width: 20px;
    height: 20px;
    overflow: hidden;
    margin: -10px 0 0 0;
    position: absolute;
    top: 50%;
    left: 8%;
}

.contact_icon_2{
    background: url(../images/sprt_contact.png) no-repeat 0px -47px;
}

.contact_icon_3{
    display: block;
    overflow: hidden;
    background: url(../images/sprt_contact.png) no-repeat 0px -84px;
    
}

.menu_item>.contact_item_link{
    position: relative;
    display: block;
    font: 400 14px open sans;
    padding: 4px 5% 7px;
    background-image: linear-gradient( 0deg, rgb(233,230,229) 0%, rgb(251,249,249) 94%, rgb(255,255,255) 100%);
    box-shadow: 0px 1px 0px 0.00px rgba(255, 255, 255, 0.35);
    border-bottom: 1px solid #b6b6b6;
    text-decoration: none;
    overflow: hidden;
}

.contact_item_link:before{
    content: '';
    position: absolute;
    left: 22%;
    width: 15%;
    height: 100%;
    top: 0;
    background: url(../images/sprt_contact.png) no-repeat 0 -132px;
    background-size: contain;
}

.contact_item_link:hover{
    box-shadow: inset 0px -8px 50px -13px #e0c591;
}

.mail{
    background: url(../images/sprt_contact.png) no-repeat left center;
}

/*---------------------------content---------------------------*/


.content{
    float: right;
    width: 67.7%;
    padding:1px 0.2%;
}

.content_section{
    margin:0 0 38px 2px;
    background: #f0efee;
    border-radius: 4px;
    box-shadow:inset 2px 4px 10px 0.00px rgba(236, 232, 227, 0.75),
                0 0 1px 1px #c5c5c5;
    overflow: hidden;
}

.title_content{
    padding: 15px 43px 17px;
    font: 600 24px/22px open sans;
    text-shadow: 0px 1px 0px #666565;
    color: #eeedec;
    background: linear-gradient(0deg, #7b7878 0%, #a9a8a8 100%);
}

.container_info{
    overflow: hidden;
    margin: 33px 6% 26px;
}


.wrapp_avatar{
    float: left;
    overflow: hidden;
    border: 1px solid #d2d1d0;
    background-color: #f7f6f5;
    border-radius: 50%;
    box-shadow: 0px 0px 0 1px #c5c5c5, 0px 0px 0 1px #c5c5c5;
    position: relative;
    padding: 11.5%;
    border:9px solid #f3f2f1;
    box-sizing: border-box;
    margin: 7px 0.3%;

}

.ava_img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    display: block;
}

.block_basic_information{
    float: right;
    width: 66.5%;
}

.titile_info{
    list-style: none;
    color: #727070;
    padding: 2px 5px 5px 0;
    font: 600 14px open sans;
    overflow: hidden;
}

.main_basic_information{
    font: 400 14px open sans;
}


.skills_list{
    list-style: none;
    float: left;
    padding: 0;
    width: 62%;
    margin-top: 4px;
}

.skils{
    float: left;
    padding: 1px 6px 1px 5px;
    box-shadow: 0 0 0 1px #b8b8b8;
    margin: 5px 10px;
    position: relative;
    text-transform: uppercase;
    color: #1e7465;
    font: 600 9px / 15px open sans;
    border-radius: 3px;
}

.last_titile_info_block{
    float: left;
    margin : 10px 0 0 0;
}

.skils:before{
    content: '';
    width: 9px;
    height: 21px;
    position: absolute;
    left:-8px;
    top:-2px;
    background: url(../images/bts.png) no-repeat center;
}



.block_experience{
        padding: 17px 0 31px;
}

.experience{
    list-style: none;
    color:#727070;
}

.position{
    font: 600 15px open sans;
}

.period{ 
    font: 400 14px open sans;
}

.list_an_experience{
    padding: 0px 0 0 17%;
    position: relative;
    min-height: 30px;
    overflow: hidden;
}

.list_an_experience:before{
    content:'';
    height: 1px;
    width:97%;
    background: #dbdbda;
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: 0 0 9px 1px #fff;
}

.list_an_experience:first-child:before{
    display: none;
}

/*
.social_item, .wrapp_avatar,
.content_section, .icons, .list,
.skils, .block_project, input, .message{
   behavior: url(../pie/PIE.htc); 
}
*/

.wrapp_avatar, .icons, .content_section,
.list, .block_project, input, .message, .captcha_block_img{
   behavior: url(pie/PIE.htc); 
}

.icons_1{
    background-image: url(../images/info_sprt.png);
    background-position: 18px -56px
}

.icons{
   border-radius: 50%;
    height: 54px;
    width: 54px;
    box-shadow:inset 1px 1px 0 0 #cecece, 0px 1px 0px 0.00px #ffffff;
    background-color: #f7f7f7;
    background-repeat: no-repeat;
    overflow: hidden;
    position: absolute;
    left: 0;
    bottom: 50%;
    margin-bottom: -27px;
}

.icons_2{
    background-image: url(../images/info_sprt.png);
    background-position: -72px -55px;
}


.icons_3{
    background-image: url(../images/info_sprt.png);
    background-position: -72px -131px;
}

.icons_4{
    background-image: url(../images/info_sprt.png);
    background-position: 18px;
}





/*-------------------------------footer-----------------------------------*/



.footer{
    display: table-row;
    height: 61px;
    background-color: #ffffff;
    box-shadow: 0px -1px 0px 0.00px rgba(0, 0, 0, 0.1);
    position: relative;
}

.footer:before{
    content: '';
    height:1px;
    width: 100%;
    background: #637a77;
    position: absolute;
    top: 0;
    left: 0;
}

.container_footer{
    margin: 20px auto;
    width: 40.5%;
    min-width: 508px;
    color: #9c9c9c;
    overflow: hidden;
}

.entrance{
    display: block;
    padding:1px 0 1px 26px;
    text-transform: uppercase;
    text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.85);
    float: left;
    font: 700 14px open sans;
    text-decoration: none;
    color: #9c9c9c;
    position: relative;
}

.entrance:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 23px;
    height: 23px;
    overflow: hidden;
    background: url(../images/info_sprt.png) no-repeat -47px -34px;
}

.entrance:hover:before{
    background: url(../images/info_sprt.png) no-repeat -47px -82px;
}

.copy{
    float: left;
    margin: 0 0 0 9%;
    font: 300 12px open sans;
}



/*-----------------------page_2-------------------------*/


.container_project{
    margin-left: -5.6%;
    overflow: hidden;
    letter-spacing: -0.3em;
    margin-bottom: 184px;
}

.block_project{
    width: 27.3%;
    background: #fff;
    box-shadow: 0 0 1px 1px #c5c5c5, 0px 2px 1px 0.00px rgba(9, 9, 9, 0.07);
    border-radius: 5px;
    background-image: linear-gradient( 0deg, rgb(237,235,234) 0%, rgb(251,249,249) 94%, rgb(255,255,255) 100%);
    margin:1px 0 43px 6%;
    display: inline-block;
    vertical-align: top;
    min-height: 71.6%;
    overflow: hidden;
    letter-spacing: normal;
}



.wrapp_img_name{
    display: block;
    background-color: rgba(65, 64, 64, 0.07);
    text-decoration: none;
    min-height: 133px;
}

.container_project_img{
    width: 100%;
    padding-top: 71.6%;
    overflow: hidden;
    position: relative;
    border-bottom: 1px solid #bfbfbf;
    display: block;
}

.container_project_img:before{
     width: 100%;
    height: 100%;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    transform: scaleY(0);
    transform-origin: center top;
    transition: all 0.2s linear 0s;
    z-index: 1;
}

.container_project_img:hover:before, .container_project_img:hover:after{
    transform: scaleY(1);
}

.container_project_img:after{
    content:'Подробнee';
    position: absolute;
    top: 50%;
    left: 50%;
    color:#fff;
    z-index: 2;
    text-align: center;
    padding: 3px 5px;
    margin: -11px 0 0 -40px;
    box-shadow: 0 0 0px 3px #fff;
    font: 600 13px/22px open sans;
    border-radius: 10px;
    transform: scaleY(0);
    transform-origin: center bottom;
    transition: all 0.3s linear 0s;
}

.project_img{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    box-shadow: 1px 1px 1px 1px #fff;
}

.name_site{
    color: #727070;
    font: 600 13px / 22px open sans;
    padding: 4px;
    text-align: center;
    display: block;
}

.site_description{
    padding: 8px 8px 8px 16px;
    font: 300 12px / 16px open sans;
    color: #727070;
}

.margin_project{
    margin-left: 0;
}


.add_project{
    padding-top: 66%;
    position: relative;
    cursor: pointer;
}



.add_project:before{
    content: ''; 
    border-radius: 50%;
    height: 54px;
    width: 54px;
    box-shadow: inset 1px 1px 0 0 #cecece,0 1px 0 0 #fff;
    background: #f7f7f7 url(../images/info_sprt.png) no-repeat 17px -132px;
    overflow: hidden;
    position: absolute;
    top: 28px;
    left: 50%;
    margin-left: -27px;
}


.add_project:hover{
    box-shadow: inset 0 3px 20px 1px #fff;
}

/*------------------------------------------page_3-------------------------------*/


.form_of_communication{
    width: 71.5%;
    margin: 0 auto;
    overflow: hidden;
    margin: 0 auto 240px;
    
}



input{
    padding: 10px 4%;
    display: block;
    border-radius: 3px;
    border: none; 
    box-shadow: inset 2px 4px 10px 0 rgba(236,232,227,.75),0 0 1px 1px #c5c5c5;
}

.tnput[type="text"]{
    color: red;
   background: linear-gradient(0deg, #e9e7e7 0%, rgba(251, 249, 249, 0) 100%); 
}


.input_container{
    overflow: hidden;
    padding: 0 1%;
}

.form_float_block{
    width: 47%;
    margin-left: 4.2%;
    margin-bottom: 2px;
    float: left;
}

.form_float_block:first-child{
    margin-left: 0;
}

.type_text, .message{
    margin: 0 0 15px;
    font: 300 12px open sans;
    background: linear-gradient(0deg, #e9e7e7 0%, rgba(251, 249, 249, 0) 100%);
}

.type_text{
    width: 91%;
}

.label{
    font: 400 14px open sans;
    color: #727070;
    display: block;
    margin-bottom: 7px;
}

.message{
    width: 88%;
    height: 161px;
    padding: 10px 4%;
    margin-bottom: 12px;
    resize: none;
}

.message, .captcha_block_img{
    border: none;
    border-radius: 3px;
    box-shadow: inset 2px 4px 10px 0 rgba(236,232,227,.75),0 0 1px 1px #c5c5c5;
}

.captcha_block_img{
    height: 73px;
    width: 97%;
    margin: 0 0 32px;
    padding: 1%;
}

.m_n{
    margin: 0;
    text-align: center;
}

.captcha_img{
    display: block;
    margin: 0 auto;
    width: 100%;
    height: auto;
}

.submit{
    margin: 0 0 1px;
    background-image: linear-gradient( 0deg, rgb(67,183,150) 0%, rgb(128,232,203) 100%);
    box-shadow: 0px 2px 1px 0.00px rgba(9, 9, 9, 0.16);
}

.submit:hover{
   background: linear-gradient(0deg, #3aa087 0%, #5fdcbd 100%);
}

.button_form{
    font: 600 14px / 19px open sans;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.75);
    border-radius: 5px;
    box-shadow: inset 2px 4px 10px 0 rgba(236,232,227,.75),0 0 1px;
    color: #1e7465;
    width: 65%;
    margin-left:auto;
    margin-right: auto;
}

.captcha{
    margin: 30px 0 50px 0;
    padding: 5px;
}

.form_float_block>.clean{
    margin: 0 auto 10px;
    color: #727070;
}

.clean:hover{
  background-image:linear-gradient( 0deg, rgb(194,192,192) 0%, rgb(227,225,225) 87%, rgb(230,228,228) 90%, rgb(232,231,231) 100%);

}

/*------------------------------------------ie------------------------------*/

.no-cssgradients .menu_item_link{
    background: #f2f0f0;
}

.no-cssgradients .menu_item_link:hover{
    background: #d5d3d3;
}

.no-cssgradients .contact_item_link{
    background: #fcfbfb;
}

.no-cssgradients .contact_item_link:hover{
    background: #f4ead8;
}

.no-cssgradients .active_nav{
    background: #48bfa1;
}


.no-cssgradients .contact{
    background: #edc575;
}

.no-cssgradients .title_content{
    background: #8b8888;
}

.no-opacity .container_project_img:hover:before{
    background: url(../images/hover_ie.png);
}

.no-opacity .container_project_img:after{
   display: none;
}

.no-opacity .container_project_img:hover:after{
    display: block;
}

.no-cssgradients .wrapp_img_name{
    background: #f2f2f2;
}

.no-cssgradients .block_project:{
    background: #f6f6f6;
}

.no-cssgradients .captcha_block_img, .message, input{
    background: #f6f6f6;
}

.no-cssgradients .submit{
    background: #48bfa1;
}

.no-cssgradients .submit:hover{
    background: #6fac93;
}

.no-cssgradients .clean{
    background: #d8d7d7;  
}

.no-cssgradients .clean:hover{
    background: #c5c5c5;
}

.no-cssgradients .social_item{
    background: #fff;
}


.no-cssgradients .skils{
    background: #f2f0ef;
}

.no-cssgradients .captcha_block_img{
    background: #fff;    
}

.no-backgroundsize body{
    background: #d8d8a2;
}















